body {
    margin: 0;
    padding: 0;
    color: #542211 ;
}

header {
    position: sticky;
    top: 0;
    height:60px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 14px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.363);
    padding-right: 17%;
    padding-left: 17%;
    z-index: 100;   
}

header img {
    height: 60px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav{
    align-items: center;
}


nav ul li a {
    padding: 20px;
    color: #F4AD21;
    text-decoration: none;
    border-radius: 10px;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
}


.redes{
    height: 20px;
    width: auto;
    vertical-align: middle;
}

nav ul li a:hover {
    background: #F4AD21;
    color: white;
    transition: 0.3s;
}

nav ul li a:active {
    background: #47B29E;
    color: white;
}

.banner{
    position: relative;
    height: 350px;
    width: 100vw;
    background-color:#47B29E;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}






.banner2{
    position: relative;
    height: 350px;
    width: 100%;
    background-color:#47B29E;
}

.banner2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    padding-right: 17%;
    padding-left: 17%;
    background: white;
    max-width: 1250px;
    margin: 20px auto;
}

main h2 {
    text-align: center;
    color:#F4AD21;
    font-size: 55px;
    font-family: 'Lobster', cursive;
}

.novedades{
    display: flex;
    justify-content: space-between;
}

.novedad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background:#ffffff;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
}

.novedad img {
    width: 100%;
    height: auto;
    object-position: center;
}

.novedad p {
    color: #542211 ;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
}

.novedad img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.descripcion{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    background: #f0f0f0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.texto{
    flex: 2;
    padding: 20px;
    font-family: 'Outfit', sans-serif;
}

.foto1{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1 img{
    height: 500px;
    width: auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1) ;
}


.esto{
    display: flex;
    justify-content:space-around;
    background:#F4AD21;
    margin: 0 auto;
    font-family: 'Outfit', sans-serif;
    padding-right: 17%;
    padding-left: 17%;
}

.info{
    flex: 1;
    padding: 20px;
}

footer {
    background:#542211;
    color: white;
    text-align: center;
    margin-bottom: 0 auto;
}


.footer-botton {
    background:#542211;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.footer-botton p{
    padding: 10px;
    font-family: 'Outfit', sans-serif;
}


.color{
    background-color: #F4AD21;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.color1{
    background-color:#47B29E ;
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.info img {
    height: 100px;
    width: auto;
}

