body {
    margin: 0;
    padding: 0;
    color: #542211 ;
}

nav ul li a:active {
    background: #47B29E;
    color: white;
}

.banner {
    position: relative;
    height: 600px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #542211;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/DSC_0346.jpg");
    background-size: cover;
    background-position: center;
    transition: 2s ease-in-out;
}

.banner:hover::before {
    transform: scale(1.05);
    filter: blur(5px);
}

.banner-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 10;
    max-width: 600px;
    padding: 20px;
    background-color: #0c0c0cbe;
    border-radius: 30px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    color: #F4AD21;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}

.banner-btn {
    display: inline-block;
    background-color: #F4AD21;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s ease;
}

.banner-btn:hover {
    background-color: #47B29E;
}


.banner2{
    position: relative;
    height: 350px;
    width: 100%;
    background-color:#47B29E;
}

.banner2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

main {
    padding-right: 17%;
    padding-left: 17%;
    background: white;
    max-width: 1250px;
    margin: 20px auto;
}

main h2 {
    text-align: center;
    color:#F4AD21;
    font-size: 55px;
    font-family: 'Lobster', cursive;
}

.novedades{
    display: flex;
    justify-content: space-between;
}

.novedad{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background:#f1efef;
    border-radius: 10px;
    margin: 10px;
    padding-bottom: 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: auto;
    overflow: hidden;
}

.novedad img {
    width: 100%;
    height: auto;
    object-position: center;
}

.novedad p {
    color: #542211 ;
    font-family: 'Outfit', sans-serif;
    font-size: 19px;
}

.novedad img:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.descripcion{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    padding: 20px;
    background: #f0f0f0;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.texto{
    flex: 2;
    padding: 20px;
    font-family: 'Outfit', sans-serif;
}

.foto1{
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto1 img{
    height: 500px;
    width: auto;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1) ;
}

