main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(243, 243, 243);
}

#focus{
    color: #47B29E;
}

.puntos-venta{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em;
    width: 80%;
}

.tarjeta {
    flex: 1 1 300px;
    max-width: 200px;
    height: 260px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.tarjeta:hover .color{
    height: 4em;
}

.tarjeta:hover .color img{
    display: flex;
    transition: 2s linear;
}

.color{
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 1em;
    width: 100%;
    background-color: #47B29E ;
    transition: 0.1s ease-in;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.color img{
    display: none;
    width: 100%;
}

.info{
    margin: 1em;
}

.tlf{
    color: #F4AD21;
}

.tlf img{
    width: 1em;
    height: auto;
    margin-right: 0.5em;
}

.nombre{
    color: #F4AD21;
    font-size: 1.3em;
}

.banner {
    position: relative;
    height: 300px;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #542211;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/banner/Estanteria-mostrador-pan-casadiella-y-cafe.jpg");
    background-size: cover;
    background-position: center;
    transition: 2s ease-in-out;
}

.banner:hover::before {
    transform: scale(1.05);
    filter: blur(5px);
}

.banner-content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 10;
    min-width: 600px;
    padding: 20px;
    background-color: #0c0c0cbe;
    border-radius: 30px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    color: #F4AD21;
}

.banner-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
}


.banner2{
    position: relative;
    height: 350px;
    width: 100%;
    background-color:#47B29E;
}

.banner2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

iframe{
    width: 70%;
    height: 500px;
    margin-bottom: 2em;
}

h2{
    margin-top: 1em;
    width: 80%;
    color: #47B29E;
    font-size: 2.5em;
}

h4{
    color:#F4AD21;
    margin: 0em;
    margin-top: 0.5em;
    font-size: 2em;
}

iframe{
    width: 80%;
}



@media (max-width: 768px) {
    .banner-content {
        min-width: 300px;
        padding: 15px;
    }

    .banner-content h1 {
        font-size: 2rem;
    }

    .banner-content p {
        font-size: 1rem;
    }

    .puntos-venta {
        flex-direction: column;
        align-items: center;
    }

    .tarjeta {
        width: 100%;
        max-width: 90%;
        margin: 0;
    }

    .tarjeta:hover .color img{
        width: 100%;
    }

    iframe {
        width: 90%;
        height: 300px;
    }
}